<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:replace="~{common :: header}"><title>Associates Dashboard</title></div>
<body>
<div class="wrapper">
    <!-- Include the sidebar fragment here -->
    <div th:replace="~{common :: navbar}"></div>
    <!-- Main content -->
    <div class="main p-3">
        <div class="text-center">
            <div class="container mt-4">
                <h2>List Of Associates</h2>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Associate ID</th>
                            <th>Candidate Name</th>
                            <th>Gender</th>
                            <th>DOB</th>
                            <th>Nationality</th>
                            <th>Visa</th>
                            <th>Portfolio</th>
                            <th>Division</th>
                            <th>Department</th>
                            <th>Job Title</th>
                            <th>Line Manager</th>
                            <th>CPD Level</th>
                            <th>CPD Stage</th>
                            <th>Academy</th>
                            <th>6 Month Uplift</th>
                            <th>12 Month Uplift</th>
                            <th>18 Month Uplift</th>
                            <th>GreenLine Ratings</th>
                            <th>leaving Reasons</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="associate:${associates}">
                            <td th:text="${associate.associateId}"></td>
                            <td th:text="${associate.candidate.candidateName}"></td>
                            <td th:text="${associate.gender}"></td>
                            <td th:text="${associate.dob}"></td>
                            <td th:text="${associate.nationality}"></td>
                            <td th:text="${associate.visa}"></td>
                            <td th:text="${associate.portfolio}"></td>
                            <td th:text="${associate.division}"></td>
                            <td th:text="${associate.department}"></td>
                            <td th:text="${associate.jobTitle}"></td>
                            <td th:text="${associate.lineManager}"></td>
                            <td th:text="${associate.cpdLevel}"></td>
                            <td th:text="${associate.cpdStage}"></td>
                            <td th:text="${associate.lineManager}"></td>
                            <td th:text="${associate.academy}"></td>
                            <td th:text="${associate.sixMonthUplift}"></td>
                            <td th:text="${associate.twelveMonthUplift}"></td>
                            <td th:text="${associate.eighteenMonthUplift}"></td>
                            <td th:text="${associate.greenlineRatings}"></td>
                            <td th:text="${associate.leavingReason}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script>
    const hamBurger = document.querySelector(".toggle-btn");
    hamBurger.addEventListener("click", function () {
        document.querySelector("#sidebar").classList.toggle("expand");
    });
</script>
</body>
</html>
